
.scroll {
  background-color: lightblue;
  font-size: 30px;
}
.test {
  align-content: center;
}
.box {
border: 1px;
display: block;
}
.query {
  background-color: lightblue;
  color: black;
  font-size: 20px
}
.submit {
  color: teal;
  font-size: 20px;
}
.hey {
  color: blueviolet;
}
.head {
  background-color: skyblue;
}
